"D:\Exploring-Tensorflow\tf_recepies\facial_verification\face_verification_dataset.zip"
"D:\Exploring-Tensorflow\tf_recepies\facial_verification\siamesemodel_50_epochs.h5" 
"D:\Exploring-Tensorflow\tf_recepies\facial_verification\siamesemodel_150_epochs.h5"
